@charset "utf-8";
body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #42413C;
    margin: 0;
    padding: 0;
    color: #000;
}

/* ~~ Element-/Tag-Selektoren ~~ */
ul, ol, dl { /* Aufgrund von Abweichungen zwischen verschiedenen Browsern empfiehlt es sich, die Auffüllung und den Rand in Listen auf 0 einzustellen. Zu Konsistenzzwecken können Sie die gewünschten Werte entweder hier oder in den enthaltenen Listenelementen (LI, DT, DD) eingeben. Beachten Sie, dass diese Angaben auch für die .nav-Liste gültig sind, wenn Sie keinen spezifischeren Selektor festlegen. */
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0; /* Durch Entfernen des oberen Randes wird ein Problem vermieden, bei dem Ränder aus dem umgebenden Block entweichen. Der verbleibende untere Rand sorgt für den Abstand von allen folgenden Elementen. */
    padding-right: 15px;
    padding-left: 15px; /* Hinzufügen von Auffüllungswerten für beide Seiten jeweils enthaltener Blockelemente statt für die Blöcke macht Box-Modell-Berechnungen unnötig. Alternativ kann auch ein untergeordneter Block mit Auffüllung an den Seiten verwendet werden. */
}

a img { /* Dieser Selektor entfernt den standardmäßigen blauen Rahmen, der in einigen Browsern um ein Bild angezeigt wird, wenn es von einem Hyperlink umschlossen ist. */
    border: none;
}

/* ~~ Die Reihenfolge der Stildefinitionen für die Hyperlinks der Site, einschließlich der Gruppe der Selektoren zum Erzeugen des Hover-Effekts, muss erhalten bleiben. ~~ */
a:link {
    color: #42413C;
    text-decoration: underline; /* Sofern Ihre Hyperlinks nicht besonders hervorgehoben werden sollen, empfiehlt es sich, zur schnellen visuellen Erkennung Unterstreichungen zu verwenden. */
}

a:visited {
    color: #6E6C64;
    text-decoration: underline;
}

a:hover, a:active, a:focus { /* Durch diese Gruppe von Selektoren wird bei Verwendung der Tastatur der gleiche Hover-Effekt wie beim Verwenden der Maus erzielt. */
    text-decoration: none;
}

/* ~~ Dieser Container fester Breite umgibt alle anderen Blockelemente. ~~ */
.container {
    width: 960px;
    background-color: #FFFFFF;
    margin: 0 auto; /* Durch die Angabe der Breite und Verwendung des Werts "auto" für die Seiten wird das Layout zentriert. */
}

/* ~~ Für die Kopfzeile wird keine Breite angegeben. Sie erstreckt sich über die gesamte Breite des Layouts. ~~ */
header {
    background-color: #ADB96E;
}

/* ~~ Dies sind die Spalten für das Layout. ~~

1) Auffüllung wird nur für den oberen und/oder unteren Bereich der Blockelemente angegeben. Für die Elemente innerhalb dieser Blöcke sind Auffüllungswerte an den Seiten angegeben. Dadurch müssen Sie keine Box-Modell-Berechnungen durchführen. Beachten Sie, dass für den Block selbst definierte Werte für Auffüllung oder Rand an den Seiten zur angegebenen Breite addiert werden und zusammen die *Gesamtbreite* bilden. Sie können stattdessen auch die Auffüllung für das Element innerhalb des Blockelements entfernen und ein zweites Blockelement innerhalb des ersten platzieren. Diesem weisen Sie dann eine Breite von 0 und die für Ihr Design erforderliche Auffüllung zu.

2) Für die Spalten wurde kein Rand angegeben, da es sich um schwebende Spalten handelt. Wenn Sie dennoch einen Rand angeben möchten, vermeiden Sie Ränder an der Seite, an der sich die schwebende Spalte ausrichtet (z. B.: ein rechter Rand für einen Block, der nach rechts schwebend positioniert wird). In vielen Fällen kann stattdessen eine Auffüllung verwendet werden. Bei Blöcken, bei denen von dieser Regel abgewichen werden muss, fügen Sie der CSS-Regel des Blockelements die Deklaration "display:inline" hinzu, um ein Problem mit einigen Versionen des Internet Explorer zu vermeiden, bei dem der Rand verdoppelt wird.

3) Da Klassen in einem Dokument mehrmals verwendet werden können (und zudem auf ein Element mehrere Klassen angewendet werden können), wurden den Spalten Klassennamen statt IDs zugewiesen. So können beispielsweise bei Bedarf zwei Seitenleisten-Blöcke untereinander angeordnet werden. Diese div-Tags können problemlos in IDs geändert werden, solange Sie sie nur einmal pro Dokument verwenden.

4) Wenn Sie die Navigation auf der linken statt auf der rechten Seite platzieren möchten, lassen Sie diese Spalten einfach in die andere Richtung fließen (alle nach links anstatt alle nach rechts). Die Spalten werden dann in umgekehrter Reihenfolge dargestellt. Es ist nicht notwendig, die Blöcke im HTML-Quellcode zu verschieben.

*/
.sidebar1 {
    float: left;
    width: 220px;
    background-color: #EADCAE;
    padding-bottom: 10px;
}

.content {
    padding: 10px 0;
    width: 520px;
    float: left;
}

aside {
    float: left;
    width: 220px;
    background-color: #EADCAE;
    padding: 10px 0;
}

/* ~~ Mit diesem gruppierten Selektor werden die Listen im .content-Bereich angesprochen. ~~ */
.content ul, .content ol {
    padding: 0 15px 15px 40px; /* Diese Auffüllung setzt die rechte Auffüllung in der obigen Regel für Überschriften und Absätze fort. Die Auffüllung wurde unten für den Abstand zwischen anderen Elementen in den Listen und links für den Einzug angegeben. Sie können die Werte nach Bedarf ändern.  */
}

/* ~~ Stile für die Navigationslisten (können entfernt werden, wenn Sie ein vordefiniertes Ausklappmenü wie Spry verwenden) ~~ */
ul.nav {
    list-style: none; /* Hiermit wird die Listenmarkierung entfernt. */
    border-top: 1px solid #666; /* Hiermit wird der obere Rahmen für die Hyperlinks erstellt. Alle anderen werden mit einem unteren Rahmen im LI-Element platziert. */
    margin-bottom: 15px; /* Hiermit wird der Abstand zwischen den Navigationselementen und den darunter angeordneten Inhalten erstellt. */
}

ul.nav li {
    border-bottom: 1px solid #666; /* Hiermit wird die Trennung der Schaltflächen erstellt. */
}

ul.nav a, ul.nav a:visited { /* Durch Gruppieren dieser Selektoren wird sichergestellt, dass die Hyperlinks auch nach dem Aufrufen das Erscheinungsbild einer Schaltfläche beibehalten. */
    padding: 5px 5px 5px 15px;
    display: block; /* Hiermit werden die Blockeigenschaften für Hyperlinks angegeben, sodass das gesamte umschließende LI-Element ausgefüllt wird. Hiermit wird angegeben, dass der gesamte Bereich auf einen Mausklick reagiert. */
    width: 200px; /*Mit dieser Breite reagiert die gesamte Schaltfläche in IE6 auf Mausklicks. Kann entfernt werden, wenn IE6 nicht unterstützt werden muss. Berechnen Sie die exakte Breite durch Subtrahieren der Auffüllung für diesen Hyperlink von der Breite des Containers für die Seitenleiste. */
    text-decoration: none;
    background-color: #C6D580;
}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* Hiermit wird der Hintergrund und die Textfarbe bei der Navigation mit der Maus und der Tastatur geändert. */
    background-color: #ADB96E;
    color: #FFF;
}

/* ~~ Fußzeile ~~ */
footer {
    padding: 10px 0;
    background-color: #CCC49F;
    position: relative; /* Liefert "hasLayout" für Internet Explorer 6, zum korrekten Rücksetzen der schwebenden Ausrichtung. */
    clear: both; /* Diese "clear"-Eigenschaft ermöglicht es dem .container-Block, das Ende der Spalten zu erkennen und sie korrekt zu umschließen. */
}

/* ~~ Verschiedene float/clear-Klassen ~~ */
.fltrt { /* Mit dieser Klasse können Sie ein Element auf der Seite nach rechts schweben lassen. Das schwebende Element muss vor dem Element stehen, neben dem es auf der Seite erscheinen soll. */
    float: right;
    margin-left: 8px;
}

.fltlft { /* Mit dieser Klasse können Sie ein Element auf der Seite nach links schweben lassen. Das schwebende Element muss vor dem Element stehen, neben dem es auf der Seite erscheinen soll. */
    float: left;
    margin-right: 8px;
}

.clearfloat { /* Diese Klasse kann einem <br />-Tag oder einem leeren Blockelement als abschließendes Element nach dem letzten schwebenden Block (innerhalb von .container) zugewiesen werden, wenn die Fußzeile entfernt oder aus .container verschoben wird. */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

/*Unterstützung für HTML 5 - Legt für die neuen HTML 5-Tags die Eigenschaft "display:block" fest, damit die Tags in den Browsern korrekt dargestellt werden. */
header, section, footer, aside, article, figure {
    display: block;
}